:root{
    --defaultMargin : -770px;
    --transition: 0s ease-in;

}
*{
    padding: 0px;
    margin: 0px;
}
.allfind{
    margin-left: 0px;
    transform: var(--transition);
    position: absolute;
    overflow: auto;
    top: 0;
    left: 0px;
    height: 100vh;
    background-color: #fff;
    width: 50%;
}
header{
    /* width: 400px; */
    margin: auto;
    background-color: var(--defaultColor);
    padding: 3px;
    justify-content: center;
    display: flex;
}